.login-form,
.login-form > form {
  display: flex;
  flex-flow: column;
}

.login-form > form > input.email,
.login-form > form > input.submit {
  height: 3rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 0.25rem;
}

.login-form > form > input.email {
  background-color: white;
}

.login-form > form > input.submit {
  background-color: #ff9f43;
  color: white;
  user-select: no-select;
  cursor: pointer;
}
