.station header {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}

.slots {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

.nav {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0 2rem;
  fill: #576574;
}

.nav:hover {
  fill: #54a0ff;
  transition: fill 0.3s;
}
